version: "3.9"
services:
  jenkins-docker:
    image: docker:dind
    container_name: jenkins-docker
    privileged: true
    restart: always
    volumes:
      - docker-data:/var/lib/docker

  jenkins:
    image: jenkins/jenkins:2.528.3-jdk21
    container_name: jenkins
    user: root
    restart: always
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins-data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock  # ← accès Docker DinD
    environment:
      - JAVA_OPTS=-Dhudson.model.DirectoryBrowserSupport.CSP=

volumes:
  jenkins-data:
  docker-data:
